@{
    ViewBag.Title = "Home Page";
}

<main style="background-color:black;height:900px;color:white">
    <div>
        <br /><br /><br />
        <h1>
            DASHBOARD CONTENT
        </h1>
    </div>
</main>
